@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
@import "~antd/dist/antd.css";

:root {
  --text-color: #001529;
  --white: #ffffff;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Layout CSS */
.ant-layout {
  background: var(--white);
}

.ant-layout-header,
.ant-layout-footer {
  text-align: center;
  background: var(--text-color);
  color: var(--white);
}

/* Header CSS */
.header_space {
  padding: 5px 0px;
  width: 100%;
  justify-content: space-between;
  align-items: inherit;
}
.icon_logo {
  padding: 0px;
  color: var(--white);
}
.icon-with-text {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 8px;  
}

.icon-text {
  font-size: 24px;  
  font-weight: bold; 
}

.social_image {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: 1px solid #001529;
  border-radius: 50%;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
}

/* Social Card CSS */
.social_card {
  box-shadow: 0 13px 27px -5px rgb(50 50 93 / 25%),
    0 8px 16px -8px rgb(0 0 0 / 30%), 0 -6px 16px -6px rgb(0 0 0 / 3%);
  border-radius: 4px;
  background-color: bisque;
  color: var(--text-color);
}

.social_card_space {
  width: 100%;
}

/* Profile Page CSS */
.profile_page_card {
  box-shadow: 0 13px 27px -5px rgb(50 50 93 / 25%),
    0 8px 16px -8px rgb(0 0 0 / 30%), 0 -6px 16px -6px rgb(0 0 0 / 3%);
  border-radius: 4px;
}

.profile_save_btn {
  display: block;
  margin-left: auto;
}

.login_submit_btn {
  display: block;
  width: 100%;
}

.alert_error {
  margin-bottom: 8px;
}

.form_help_text {
  text-align: center;
}

/* Patterns CSS */
.pattern_card {
  box-shadow: 0 13px 27px -5px rgb(50 50 93 / 25%),
    0 8px 16px -8px rgb(0 0 0 / 30%), 0 -6px 16px -6px rgb(0 0 0 / 3%);
  border-radius: 4px;
  color: var(--text-color);
}

.pattern_card_space {
  width: 100%;
}

.pattern_button {
  padding: 0px;
}
 
/*Sidebar CSS */
.sidebar_link{
  color: #ff0000;
  font-style: normal;
}